/* changed the layout of the navbar, but the rest of the 
application will need to change to display properly.
Shouldn't be too difficult. -gd */
.navlinks {
  /* flex box layout */
  display: flex;
  flex-direction: column;
  float: left;

  margin: 0;
  background-color: #4C1E4F;
  overflow: hidden;
  position: fixed;
  height: 100%;
}

.som-logo,
.scf-logo {
  width: 90px;
}

.som-logo {
  position: absolute;
  bottom: 0px;
}

/* The following has been untouched. -gd */
.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #4C1E4F;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #68326b;
  transition: all .5s ease;
}
.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust the height as needed */
  margin-top: 50px;
  width: 90%; 
}
.chart {
  height: 400px; /* Adjust the height as needed */
  margin-top: 20px; /* Adjust the margin-top as needed */
  width: 90%; 
}